.fp-watermark{
    display: none;
}
.preloader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(50, 174, 184);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader {

    border: 6px solid #f3f3f3;
    border-top: 6px solid #1D5584;
    /* Dark Green */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 28px;
    animation: spinloader 2s linear infinite;
}

#loader img {
    height: 200px;
    width: 200px;
    animation: spinlogo 2s linear infinite;
}

@keyframes spinloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinlogo {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
#fullpage .section img{
    width: 90%;
}